// 我的
* {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;

}

.zf {
    width: 100%;
    height: 4.8rem;
    line-height: 4.8rem;
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;
    // background-color: brown;
    display: flex;

    p {
        text-indent: 2rem;
        font-size: 1.6rem;
        font-weight: 600;
    }

    span {
        font-size: 1.6rem;
        margin-left: 1rem;
    }
}

// 我的

.login {
    width: 100%;
    height: 16rem;
    text-align: center;
    background: url("../image/my/bg2.png")no-repeat 0 0;
    background-size: cover;

    img {
        width: 5.7rem;
        height: 5.7rem;
        margin-top: 2rem;
    }

    p {
        font-size: 1.4rem;
        text-align: center;
        margin-top: 2.8rem;
        color: #ffffff;
    }
}

.list {
    background: #ffffff;
    border-bottom: 1px solid #dcdcdc;

    li {
        list-style: none;

        li:last-of-type a {
            border-bottom: none;
        }

        a {
            font-size: 1.5rem;
            display: block;
            height: 4.8rem;
            color: #666666;
            text-decoration: none;
            line-height: 4.8rem;
            border-bottom: 1px solid #dcdcdc;
            background: url("../image/my/right.png")no-repeat right center;
            background-size: 1rem 1.5rem;
            margin-right: 2.4rem;
            margin-left: 1.4rem;
        }
    }
}

.btn {
    font-size: 1.4rem;
    display: inline-block;
    width: 35rem;
    height: 4.5rem;
    background: #ffffff;
    color: #ff8a00;
    border: 1px solid #dcdcdc;
    text-align: center;
    line-height: 4.5rem;
    margin: 2.5rem 1rem;
}